.detail-container{
  color:gray !important;
}
.comment-list{
  margin: 20px;
  display:flex;
  flex-direction:column;
  gap: 10px;

}
.back{
  margin:10px;
  position: absolute;
    left: 25px;
    top: 10px;
}